<div class="player">
    <div class="player-thumbnail">
        <img src="../thumbnails/music_no_thumbnail.png" id="song-thumbnail" class="song-thumbnail">
    </div>

    <div class="player-track-bar">
        
    </div>

    <div class="player-duration">

    </div>
</div>