<script src="../../../../../../scripts/preloader.js"></script>
<div class="preloader">
    <div class="equalizer-block">
        <div class="equalizer">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
    </div>
</div>