html {
    min-height: 100% !important;
    height: 100%;
}

body {
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

main {
    margin: 0;   
}

.artist-info-block {
    padding: 5%;
}

.mask {
    position: absolute;

    width: 100%;
    height: 100%;
}

.artist-name {
    color: var(--primary-text-color);
    font-size: var(--big-font-size);
    font-weight: bold;

    text-shadow: 1px 1px 2px black;

    animation: appearAnimation 2s both;
}

.artist-label {
    color: var(--primary-text-color);
    margin-bottom: 20px;

    text-shadow: 1px 1px 2px black;

    animation: appearAnimation-Y 4s both;
}

.artist-description {
    color: var(--secondary-text-color);

    text-shadow: 1px 1px 2px black;

    animation: appearAnimationY 2s both;
}

.artist-songs-list {
    min-height: 100vh !important;
    height: 100%;
    

    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.song-img {
    width: 64px;
    height: 64px;

    margin-right: 10px;

    border-radius: 15px;
}

.song-list {
    font-size: var(--small-font-size);
    font-weight: bold;
    padding: 0 5% 5%;

    animation: appearAnimation-Y 2s both;
}

.song-list-item {
    user-select: none;
    width: 100%;

    padding: 15px;
    margin-top: 15px;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;

    vertical-align: middle;
    align-items: center;

    font-size: var(--tiny-font-size);
    font-weight: bold;
    background-color: var(--secondary-color);

    animation: appearAnimation 2s both;
}

.song-small-info {
    color: var(--secondary-text-color);
    font-weight: normal;
}

.song-name-info {
    color: var(--primary-text-color);
    font-weight: bold;
}

.not-found {
    color: var(--secondary-text-color);
    font-size: var(--tiny-font-size);
    font-weight: bold; 

    padding: 30px 5% 5%;
}

.artist-last-release {
    display: flex;

    animation: appearAnimationY 2s both;
    padding: 5px 5% 5% 5%;
}

.artist-last-release-block-info {
    margin-left: 10px;
}

.artist-last-release-title {
    font-size: var(--small-font-size);
    font-weight: bold;
    color: var(--primary-text-color);
}

.artist-last-release-sub-title {
    color: var(--secondary-text-color);
}

.artist-category-title {
    color: var(--secondary-text-color);
    font-size: var(--small-font-size);
    font-weight: bold;

    padding: 0 5% 0 5%;
    animation: appearAnimation 2s both;
}

.last-release-image {
    width: 100px;
    height: 100px;

    border-radius: 10px;
}

@media (max-width: 600px) {
    .main-nav-list {
        display: none;
    }
}