body {
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;

    height: 100%;
}

p {
    color: var(--primary-text-color);
    font-size: small;
}

select {
    margin-top: 15px;

    padding: 10px;
    color: var(--primary-text-color);
    background-color: var(--text-box-color);
}

.create-card-form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 20px;
    background-color: var(--form-color);
    border-radius: 10px;

    animation: appearAnimation-Y 1s both;
}

.create-message {
    height: 100%;

    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
}

.opactiyOn {
    animation: opacityOn 3s both;
}

.title-message {
    color: var(--primary-text-color);
    font-size: var(--small-font-size);
    font-weight: bold;

    animation: appearAnimationY 1s both;
    animation-delay: 0.3s;

    text-align: center;
}

.description-message {
    text-align: center;
    max-width: 500px;
    color: var(--secondary-text-color);
    font-size: var(--tiny-font-size);

    animation: appearAnimation-Y 2s both;
    animation-delay: 0.3s;
}

.white {
    color: var(--primary-text-color);
    
    animation: appearAnimation-Y 2s both;
    animation-delay: 1.3s;
}

.green {
    background-color: #06911d;

    margin-top: 20px;

    animation: appearAnimation-Y 2s both;
    animation-delay: 1s;
    box-shadow: 0 0 40px #06911d;
}

.green:hover {
    background-color: #05a11f;
    box-shadow: 0 0 40px #05a11f;
}

input {
    color: var(--primary-text-color);
    margin-top: 20px;

    border-radius: 10px;
    padding: 10px;

    width: 100%;
    background-color: var(--text-box-color);
}

textarea {
    color: var(--primary-text-color);
    margin-top: 20px;

    border-radius: 10px;
    padding: 10px;

    width: 100%;
    background-color: var(--text-box-color);

    height: auto;
    resize: vertical;
}

.drag-n-drop-area {
    display: flex;
    flex-direction: column;
    text-align: center;

    user-select: none;

    margin: 15px auto;
    border: var(--text-box-color) 6px dashed;

    width: 200px;
    height: 200px;
}

.drag-small-icon {
    margin: 10px auto;

    width: 64px;
    height: 64px;
    fill: var(--primary-text-color);
}