main {
    margin: 100px 10% 10% 10%;
}

.profile-block {
    margin-top: 20px;
}

.profile-title {
    color: var(--primary-text-color);

    animation: appearAnimationY 2s both;
}

.profile-name {
    color: var(--primary-text-color);
    font-size: var(--big-font-size);
    font-weight: bold;

    word-break: break-all;

    animation: appearAnimation 2s both;
}

.artist-block {
    display: flex;

    animation: appearAnimation-Y 1s both;

    padding: 10px;
    border-radius: 10px;

    margin-top: 50px;
}

.artist-name {
    color: var(--primary-text-color);
    font-size: var(--small-font-size);
    font-weight: bold;
}

.artist-banner {
    width: 128px;
    height: 128px;

    border-radius: 50%;
}

.artist-title {
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    padding: 5px;
    border-radius: 20px;
    max-width: 205px;
}

.artist-sub-block {
    margin-left: 20px;
}

.profile-title-category {
    color: var(--primary-text-color);
    font-size: var(--small-font-size);
    font-weight: bold;

    animation: appearAnimation 1.5s both;
}

.small-item {
    color: var(--secondary-text-color);
}

.playlist-list {
    display: flex;
    flex-direction: row;
}

.playlist-list li {
    width: 150px;
    height: 200px;
    padding: 20px;
    animation: appearAnimationX 2s both;
    animation-delay: 0.5s;
    margin-right: 15px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--secondary-color);

    color: var(--primary-text-color);
    font-weight: bold;
}

.playlist-list li a {
    color: var(--primary-text-color);
}

.playlist-list-thumb {
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
}