body {
    display: flex;
    justify-content: space-between;

    height: 100vh;
}

hr {
    background-color: var(--secondary-color);
}

.studio-navigation-bar {
    display: flex;
    justify-content: space-between;
    
    padding: 20px;
    background-color: var(--secondary-color);
}

.studio-navigation-bar-list {
    display: flex;
    flex-direction: column;
}

.studio-navigation-bar-list li {
    margin-bottom: 10px;
}

.navigation-icon {
    width: 32px;
    height: 32px;
}

.navigation-icon path {
    margin: 0 auto;
    transition: 0.5s all;

    fill: var(--primary-text-color);
}

.navigation-icon:hover path {
    fill: var(--accent-color);
}

.main-studio {
    width: 100%;
    margin: 10%;

    color: var(--primary-text-color);
    font-size: var(--tiny-font-size);
}

.studio-block {
    padding: 30px;
    background-color: var(--secondary-color);
    border-radius: 10px;

    margin-bottom: 30px;
}

.profile-block {
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.transparent {
    background-color: transparent;
}

.horizontally-center {
    display: flex;
    justify-content: center;
}

.studio-block-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.stats-block-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.stats-block {
    padding: 30px;
    background-color: var(--secondary-color);
    border-radius: 10px;

    margin-left: 20px;
    margin-bottom: 10px;

    width: 300px;
    max-height: 120px;
}

.horizontally-center {
    text-align: center;
}

.label {
    color: var(--primary-text-color);
    font-size: var(--small-font-size);
    font-weight: bold;

    animation: appearAnimation-Y 2s both;
}

.label-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.sub-label {
    color: var(--primary-text-color);
    font-size: var(--tiny-font-size);

    animation: appearAnimationX 2s both;
}

.account-name {
    color: var(--primary-text-color);
    font-size: var(--tiny-font-size);

    animation: appearAnimation 0.8s both;
}

.account-description {
    color: var(--secondary-text-color);
    font-size: var(--tiny-font-size);

    animation: appearAnimation-Y 1.5s both;
}

.account-avatar {
    width: 128px;
    height: 128px;

    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

    animation: opacityOn 1.5s both;
}

.stats-label {
    animation: opacityOn 1.5s both;
    color: var(--secondary-text-color);
}

.stats-number-label {
    font-size: var(--small-font-size);
    font-weight: bold;

    animation: opacityOn 1s both;
    animation-delay: 1s;
}

.studio-songs-list {
    margin-top: 15px;
    color: var(--primary-text-color);
    background-color: var(--secondary-color);

    width: 100%;

    border-radius: 10px;
}

.studio-songs-list li {
    display: flex;
    justify-content: space-between;

    align-items: center;

    user-select: none;

    padding: 20px;

    animation: appearAnimation-Y 1s both;

    font-weight: bold;
    margin-bottom: 20px;
}

.studio-songs-list img {
    width: 64px;
    height: 64px;

    margin-right: 10px;

    border-radius: 10px;
}

.small-information {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.error-text-info {
    color: var(--secondary-text-color);
}

.small-info {
    color: var(--secondary-text-color);
}

.edit-card-form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 70px;
    background-color: var(--form-color);
    border-radius: 10px;

    margin-bottom: 30px;

    animation: appearAnimation-Y 1s both;
}

.form-title {
    color: var(--primary-text-color);
    font-size: var(--small-font-size);
    font-weight: bold;

    animation: appearAnimationY 1s both;
    animation-delay: 0.3s;

    text-align: center;
}

input {
    color: var(--primary-text-color);
    margin-top: 20px;

    border-radius: 10px;
    padding: 10px;

    width: 100%;
    background-color: var(--text-box-color);
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--text-box-color);
    margin: 0;

    width: 1.15em;
    height: 1.15em;
    border-radius: 5px;

    margin-right: 10px;
}

input[type="checkbox"]:checked {
    width: 0.65em;
    height: 0.65em;
    border-radius: 5px;
    box-shadow: inset 1em 1em var(--accent-color);
}

textarea {
    color: var(--primary-text-color);
    margin-top: 20px;

    border-radius: 10px;
    padding: 10px;

    width: 100%;
    background-color: var(--text-box-color);

    height: auto;
    resize: vertical;
}

p {
    color: var(--primary-text-color);
    font-size: small;
}

select {
    margin-top: 15px;

    padding: 10px;
    color: var(--primary-text-color);
    background-color: var(--text-box-color);
}

.yellow {
    background-color: #dfe207;

    margin-top: 20px;

    animation: appearAnimation-Y 2s both;
    animation-delay: 1s;
    box-shadow: 0 0 40px #dfe207;
}

.yellow:hover {
    background-color: #ccc903;
    box-shadow: 0 0 40px #ccc903;
}


@media (max-width: 800px) {
    body {
        flex-direction: column;
        height: 100%;
    }

    .main-studio {
        margin: 0%;
    }

    .studio-navigation-bar {
        width: 100%;
        display: block;

        position: fixed;
        bottom: 0;

        padding: 5px;
    }

    .studio-navigation-bar-list {
        flex-direction: row;
        align-items: center;
    }

    .studio-navigation-bar-list li {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .stats-block {
        margin-left: 10px;

        margin-bottom: 80px;
    }
}