main {
    display: flex;
    justify-content: center;
    margin: 100px 10% 10% 10%;
}

.welcome-main-block {
    animation: appearAnimation-Y 2s both;
}

.welcome-block {
    display: flex;
    flex-direction: row;

    margin-bottom: 5%;
}

.description-block {
    max-width: 500px;
}

.welcome-text {
    display: flex;
    flex-direction: row;
    align-items: end;

    color: var(--primary-text-color);
    font-size: var(--small-font-size);
}

.brand-name-text {
    color: var(--accent-color);
    font-size: var(--big-font-size);
    font-weight: bolder;

    text-shadow: var(--accent-color) 0 0 10px;
}

.description-text {
    color: var(--secondary-text-color);
}

.small-icon {
  fill: var(--primary-text-color);
}

.welcome-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  animation: appearAnimationY 2s both;
}

@media (max-width: 600px) {
    .equalizer {
        display: none;
    }

    .welcome-text {
        align-items: center;
    }

    #open-in-browser {
      display: none;
    }

    .welcome-buttons {
        justify-content: center;
        flex-direction: column;
    }
}