main {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.welcome-main-block {
    animation: opacityOn 3s normal;
}

.welcome-block {
    display: flex;
    flex-direction: row;
}

.description-block {
    max-width: 500px;
}

.welcome-text {
    display: flex;
    flex-direction: row;
    align-items: end;

    color: var(--primary-text-color);
    font-size: var(--small-font-size);
}

.brand-name-text {
    color: var(--accent-color);
    font-size: var(--big-font-size);
    font-weight: bolder;

    text-shadow: var(--accent-color) 0 0 10px;
}

.description-text {
    color: var(--secondary-text-color);
}

.equalizer-block {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.small-icon {
  fill: var(--primary-text-color);
}

.equalizer {
    font-size: 0;
  }
  .equalizer i {
    background-color: var(--primary-text-color);
    content: '';
    display: inline-block;
    height: 40px;
    width: 5px;
    margin: 0 3px;
    animation: move-up-and-down 0.3s infinite alternate;
    transform-origin: bottom left;
  }
  i:nth-of-type(1) {
    animation-delay: 0.3s;
  }
  i:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  i:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  i:nth-of-type(4) {
    animation-delay: 0.1s;
  }
  i:nth-of-type(5) {
    animation-delay: 0.2s;
  }
  i:nth-of-type(6) {
    animation-delay: 0.2s;
  }
  i:nth-of-type(7) {
    animation-delay: 0.1s;
  }
  i:nth-of-type(8) {
    animation-delay: 0.2s;
  }
  i:nth-of-type(9) {
    animation-delay: 0.2s;
  }
  i:nth-of-type(10) {
    animation-delay: 0.1s;
  }
  i:nth-of-type(11) {
    animation-delay: 0.3s;
  }
  i:nth-of-type(12) {
    animation-delay: 0.2s;
  }
  @keyframes move-up-and-down {
    0% {
      opacity: 0.3;
      transform: scaleY(0.05);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }

@media (max-width: 600px) {
    .equalizer {
        display: none;
    }

    .welcome-text {
        align-items: center;
    }
}