:root {
    --primary-color: #101010;
    --secondary-color: #202020;
    --secondary-color-glass: rgba(23, 23, 23, 0.6); 

    --form-color: #252525;
    --text-box-color: #353535;

    --primary-text-color: #FFFFFF;
    --secondary-text-color: #6e6e6e;

    --accent-color: #0023ec;
    --accent-color-hover: #1800ec;

    --big-font-size: 48px;
    --small-font-size: 32px;

    --tiny-font-size: 16px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;

    color: var(--accent-color);
    background-color: var(--primary-color);
}

.main-nav-list {
    background-color: transparent;

    font-weight: bold;

    padding: 5px;

    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;

    height: 78px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.unsticked {
    position: absolute;
}

.main-nav-scrolled {
    background-color: var(--secondary-color);
    transition: background-color 200ms ease-in;
}

.small-logo {
    width: 64px;
    height: 64px;

    fill: var(--accent-color);
}

.small-logo:hover {
    fill: var(--accent-color-hover);
}

.big-logo {
    width: 128px;
    height: 128px;

    fill: var(--accent-color);
}

.big-logo:hover {
    fill: var(--accent-color-hover);
}

.button {
    padding: 15px;
    border-radius: 25px;

    transition: 1s all;

    background-color: var(--accent-color);
    color: var(--primary-text-color);

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.button:hover {
  background-color: var(--accent-color-hover);
}

.neutral {
    background-color: var(--primary-text-color);
    color: black;
}

.vertically-center {
    vertical-align: middle;
}

.vertically-center-flex {
    display: flex;
    align-items: center;
}

.drag-n-drop-area {
  display: flex;
  flex-direction: column;
  text-align: center;

  user-select: none;

  margin: 15px auto;
  border: var(--text-box-color) 6px dashed;

  width: 200px;
  height: 200px;
}

.drag-small-icon {
  margin: 10px auto;

  width: 64px;
  height: 64px;
  fill: var(--primary-text-color);
}

.preloader {
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: var(--primary-color);

    transition: all 2s;

    z-index: 1001;
}

.loaded .preloader {
    transition: all 2s;
    opacity: 0;
}


.player {
  position: fixed;

  padding: 10px;
  bottom: 0;
  width: 100%;

  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: var(--secondary-color-glass);

  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.song-thumbnail {
  border-radius: 10px;
  width: 48px;
  height: 48px;
}

.song-play {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.song-play-button {
  position: absolute;
  transition: 1s all;
  opacity: 0;
}

.song-play > img {
  transition: 1s all;
}

.song-play:hover > img {
  transition: 1s all;
  opacity: 0.3;
}

.song-play:hover > .song-play-button {
  opacity: 1;
}

.equalizer-block {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.form-error-text {
  margin: 0 auto;

  text-align: center;

  color: red;

  margin-top: 10px;

  animation: appearAnimationX 1s both;

  max-width: 200px;
  overflow-wrap: break-word;
}

.main-user {
  display: flex;
  align-items: center;

  user-select: none;
}

.main-user-name {
  color: var(--primary-text-color);
  font-weight: bold;

  text-shadow: 1px 1px 2px black;
}

.main-user-avatar {
  width: 48px;
  height: 48px;

  margin: 5px;

  background-size: 100% 100%;

  border-radius: 10px;
}

.main-user-arrow {
  margin: 5px;
}

.main-user-menu-button {
  width: 32px;
  height: 32px;

  transition: 1s all;
}

.main-user:hover .main-user-menu-button {
  transform: rotate(180deg);
}

.main-user-menu-button path {
  fill: var(--primary-text-color);
}

.profile-menu {
  position: absolute;
  z-index: 99999;

  animation: appearAnimation-Y 1s both;

  border-radius: 0 0 20px 20px;

  top: 78px;
  right: 0;

  background-color: var(--secondary-color-glass);
  width: 135px;
  height: 140px;

  display: flex;
  justify-content: center;
}

.profile-a {
  display: flex; 
  align-items: center;
}

.profile-menu-item {
  margin-top: 10px;

  color: var(--primary-text-color);
  transition: 1s all;
}

.profile-menu-item:hover a:hover {
  transition: 1s all;
  color: var(--accent-color);
}

.profile-menu-item svg {
  width: 32px;
  height: 32px;
  fill: var(--primary-text-color);
}

.profile-menu-item:hover path {
  transition: 1s all;
  fill: var(--accent-color);
}

.profile-menu-item a:visited {
  color: var(--primary-text-color);
}

.breakable-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.equalizer {
    font-size: 0;
  }
  .equalizer i {
    background-color: var(--primary-text-color);
    content: '';
    display: inline-block;
    height: 40px;
    width: 5px;
    margin: 0 3px;
    animation: move-up-and-down 0.3s infinite alternate;
    transform-origin: bottom left;
  }
  i:nth-of-type(1) {
    animation-delay: 0.3s;
  }
  i:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  i:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  i:nth-of-type(4) {
    animation-delay: 0.1s;
  }
  i:nth-of-type(5) {
    animation-delay: 0.2s;
  }
  i:nth-of-type(6) {
    animation-delay: 0.2s;
  }
  i:nth-of-type(7) {
    animation-delay: 0.1s;
  }
  i:nth-of-type(8) {
    animation-delay: 0.2s;
  }
  i:nth-of-type(9) {
    animation-delay: 0.2s;
  }
  i:nth-of-type(10) {
    animation-delay: 0.1s;
  }
  i:nth-of-type(11) {
    animation-delay: 0.3s;
  }
  i:nth-of-type(12) {
    animation-delay: 0.2s;
  }
  @keyframes move-up-and-down {
    0% {
      opacity: 0.3;
      transform: scaleY(0.05);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes appearAnimationY {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes appearAnimationX {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes appearAnimation-Y {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 600px) {
    main {
      margin-top: 80px;
    }

    .main-nav-list {
      background-color: var(--secondary-color);
    }
}