:root {
    --primary-color: #101010;
    --secondary-color: #171717;

    --primary-text-color: #FFFFFF;
    --secondary-text-color: #6e6e6e;

    --accent-color: #0023ec;
    --accent-color-hover: #1800ec;

    --big-font-size: 48px;
    --small-font-size: 32px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;

    color: var(--accent-color);
    background-color: var(--primary-color);
}

.main-nav-list {
    background-color: var(--secondary-color);
    font-weight: bold;

    padding: 5px;

    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}

.small-logo {
    width: 64px;
    height: 64px;

    fill: var(--accent-color);
}

.small-logo:hover {
    fill: var(--accent-color-hover);
}